body {
    margin: 0;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: black;
}

a:visited {
    color: black;
}

header h1 a {
    display: block;
    font-family: 'Calistoga', cursive;
    text-align: center;
    text-decoration: none;
}

header h1 a:hover {
    color: red;
}

header nav {
    border-bottom: 2px solid black;
    width: 70%;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a:hover {
    color: rgb(119, 0, 255);
}

footer {
    
}